*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'cabin';

}

/* h1 {
  font-size: 60px !important;
  font-weight: bold !important;
  margin: 0 !important;
}
h2 {
  font-size: 47px !important;
  font-weight: bold !important;
  margin: 0 !important;
}
h3 {
  font-size: 25px !important;
  font-weight: 700 !important;
  margin: 0 !important;
}
h4 {
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 0 !important;
} */

p {
  /* font-size: 16px !important; */
  margin-bottom: 0 !important;
}

a{
  text-decoration: none !important;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ul{
  margin-bottom: 0px !important;
}


@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
